<section class="public-scenarios-table-wrapper">
    <table [hidden]="!filterScenarios(scenarios).length" class="custom-table">
        <thead>
            <tr>
                <th *ngFor="let category of selectFilterOptions"> {{ category.label }}</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let scenario of filterScenarios(scenarios); let i = index;">
                <td class="title-cell long-text">{{ scenario.title }}</td>
                <td class="description-cell long-text">{{ scenario.description }}</td>
                <td class="email-cell">{{ scenario.authorEmail }}</td>
                <td class="genre-cell">{{ scenario.genre }}</td>
                <td class="pages-cell">{{ scenario.pages }}</td>
                <td class="state-cell">{{ scenario.state }}</td>
                <td class="options-cell">
                    <i (click)="downloadScenario(scenario.path)" class="fa fa-cloud-download fa-2x" aria-hidden="true"></i>
                    <i (click)="removeScenario()" class="fa fa-trash fa-2x" aria-hidden="true"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="margin-centered margin-top-20" [hidden]="fetchingScenarios || filterScenarios(scenarios).length">
        <div class="text-centered">
            <i class="fa fa-frown-o fa-4x" aria-hidden="true"></i>
            <p>{{ noResultsText }}</p>
            <p>{{ maybeYouText }}</p>
        </div>
    </div>
</section>
