<section class="uk-child-width-1-1 uk-child-width-1-2@s uk-grid uk-padding margin-centered">  
    <div class="uk-light uk-background-secondary uk-padding">
        <h3>{{ staticTexts.get('simpleInterviewHeader') }}</h3>
        <p>{{ staticTexts.get('simpleInterviewDescription') }}</p>
        <button routerLink="/interview/simple" routerLinkActive="active" class="uk-button uk-button-default">{{ staticTexts.get('startBtnText') }}</button>
    </div>
    <div class="full-interview uk-background-muted uk-padding">
        <h3>{{ staticTexts.get('interviewHeader') }}</h3>
        <p>{{ staticTexts.get('interviewDescription') }}</p>
        <button routerLink="/interview" routerLinkActive="active" class="uk-button uk-button-default">{{ staticTexts.get('startBtnText') }}</button>
        <div class="in-progress">
            <div class="info">
                <i class="fa fa-cubes fa-5x" aria-hidden="true"></i>
                <p>{{ staticTexts.get('functionInProgress') }}</p>
            </div>
        </div>
    </div>
</section>