<section class="uk-child-width-1-1 uk-child-width-1-2@s uk-grid uk-padding margin-centered">  
    <div class="uk-light uk-background-secondary uk-padding">
        <h3>Krótki wywiad</h3>
        <p>Odpowiedz na kilka pytań na temat bohatera i świata, w którym żyje.</p>
        <button routerLink="/interview/simple" routerLinkActive="active" class="uk-button uk-button-default">Zacznij</button>
    </div>
    <div class="full-interview uk-background-muted uk-padding">
        <h3>Wywiad!</h3>
        <p>Odpowiedz na szczegółowe pytania na temat swojego bohatera. Przeanalizuj każdy aspekt swojej historii.</p>
        <button routerLink="/interview" routerLinkActive="active" class="uk-button uk-button-default">Zacznij</button>
        <div class="in-progress">
            <div class="info">
                <i class="fa fa-cubes fa-5x" aria-hidden="true"></i>
                <p>Funkcja w trakcie rozwoju</p>
            </div>
        </div>
    </div>
</section>