
<section class="interviewer-wrapper">

    <section class="interviewer-head">
        <div class="control-wrapper">
              <i (click)="goToPreviousQuestion()" [hidden]="isFirstQuestionActive()" class="control--previous fa fa-arrow-left fa-3x" aria-hidden="true"></i>
        </div>
        <div class="current-question">
            <span onselectstart="return false;">{{ currentInterviewerQuestion.questionText }}</span>
        </div>
        <div class="control-wrapper">
             <i (click)="goToNextQuestion()" [hidden]="isLastQuestionActive()" class="control--next fa fa-arrow-right fa-3x" aria-hidden="true"></i>
        </div>
    </section>
    
    <section class="current-answer">
        <textarea (input)="updateCurrentAnswer($event);" class="uk-textarea" rows="5" placeholder="{{ answerPlaceholder }}" [value]="currentInterviewerQuestion.answer"></textarea>
    </section>
    
</section>
