<table class="uk-table uk-table-middle">
    <thead>
        <tr>
            <th>#</th>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Autor</th>
            <th>Strony</th>
            <th>Stan</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let scenario of scenarios; let i = index;">
            <td>{{i}}</td>
            <td>{{scenario.title}}</td>
            <td>{{scenario.description}}</td>
            <td>{{scenario.author}}</td>
            <td>{{scenario.pages}}</td>
            <td>{{scenario.state}}</td>
            <td><button class="uk-button uk-button-default" type="button" (click)="deleteScenario();">Usuń</button></td>
        </tr>
    </tbody>
</table>
<form [formGroup]="pdfForm" (ngSubmit)="submitPDF(pdfForm.value)">
    <fieldset class="uk-fieldset">
        <legend class="uk-legend">{{formHeader}}</legend>
        <div class="uk-margin">
            <input formControlName="title" class="uk-input" type="text" placeholder="Tytuł"
            [ngClass]="{'has-error': hasError('title')}">

            <span *ngIf="hasError('title')" class="validation-info">{{formMessages.get('required')}} {{formMessages.get('title')}}</span>
        </div>
        <div class="uk-margin">
            <input formControlName="authorEmail" class="uk-input" type="text" placeholder="E-mail (autora)"
             [ngClass]="{'has-error': hasError('authorEmail')}">

            <span *ngIf="hasError('authorEmail')" class="validation-info">{{formMessages.get('required')}} {{formMessages.get('authorEmail')}}</span>
        </div>
        <div class="uk-margin">
            <select formControlName="state" class="uk-select" [ngClass]="{'has-error': hasError('state')}">
                <option *ngFor="let option of scenarioStates">{{option}}</option>
            </select>

            <span *ngIf="hasError('state')" class="validation-info">{{formMessages.get('required')}}</span>
        </div>
        <div class="uk-margin">
            <textarea formControlName="description" class="uk-textarea has-error" [ngClass]="{'has-error': hasError('description')}" rows="5" placeholder="Krótki opis"></textarea>
            <span *ngIf="hasError('description')" class="validation-info">{{formMessages.get('required')}} {{formMessages.get('description')}}</span>
        </div>
        <div class="uk-margin">
            <label for="file">{{fileLabel}}</label>
            <input id="file" type="file"  (change)="fileChangeEvent($event,this)" placeholder="Upload file..."/><br>
            <span class="validation-info">{{formMessages.get('required')}} {{formMessages.get('file')}}</span>
        </div>
    </fieldset>
    <button class="uk-button uk-button-primary" (click)="showAlert()">{{submitText}}</button>
</form>
