
<section class="scelper-filter-input-select-wrapper">
    <div>
        <span>{{ staticTexts.get('labelText') }}</span>
        <input class="uk-input filter-field" type="text" [(ngModel)]="filterValue" (input)="onInputChange()" placeholder="{{ staticTexts.get('placeholderText') }}"/>

        <select class="uk-select filter-select" [(ngModel)]="selectedFilter" (change)="onSelectChange()">
            <option *ngFor="let option of selectOptions" [ngValue]="option">
                {{option.label}}
            </option>
        </select>
    </div>
    <button class="uk-button uk-button-default reset-filter-button" *ngIf="filterValue" (click)="clearInputField();">{{ staticTexts.get('clearBtnText') }}</button>
</section>
