
.authors-wrapper {
    margin-top: 40px;

    p {
        margin: 0px 0px 10px;
    }

    .team-image {
        background:url("assets/team.jpg") no-repeat 50% 20%;
        opacity: 0.4;
        height: 200px;
        background-size: cover;
    }

    .intro-text {
        box-shadow: 2px 2px 15px 1px;
        margin: 25px auto;
        padding: 20px;
        max-width: 450px;
    }

    .authors-list {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        justify-content: flex-start;
        list-style-type: none;
    }
}
