
.author-avatar-wrapper {
    min-width: 300px;
    display: flex;
    padding: 20px;
    margin: 10px 10px 10px 0px;
    border-radius: 25px;

    .author-name {
        text-align: center;
        font-size: 12px;
    }

    .author-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        margin-bottom: 4px;
    }

    .author-description {
        font-size: 14px;
        font-style: italic;
        padding: 20px 0 20px 20px;
    }
}

@media(max-width: $mobile) {
    .author-avatar-wrapper {
        margin-right: 0px;
        padding-left: 0px;

        .author-image {
            width: 80px;
            height: 80px;
        }
    }
}
