
.breadcrumbs-wrapper {
    min-height: 65px;
    padding: 20px 20px 10px 40px;
    font-size: 18px;

    .breadcrumbs-list {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
            display: inline-block;
            margin-top: 10px;
            margin-right: 25px;

            &:last-of-type {
                margin-right: 0px;
            }
        }

        .breadcrumb {
            color: $scelper-gray-dark;
            text-decoration: none;
            margin-right: 5px;

            &:hover {
                color: darken($scelper-gray-dark, 20%);
            }
        }
    }
}

@media(max-width: $tablet) {
    .breadcrumbs-wrapper {
        font-size: 16px;
        padding: 20px 20px 10px 20px;

        .breadcrumb {
            margin-right: 2.5px;
        }
    }
}
