
$footer-height: 120px;
$scelper-green: #83e800;
$scelper-gray-dark: #666;
$scelper-white: #fff;

$mobile: 480px;


$zindex: (
    modal     : 9000, 
    overlay   : 8000,
    dropdown  : 7000,
    header    : 6000,
    footer    : 5000,
    tutorial  : 4000,
    feedback  : 3000
);
