.common-block {
    display: flex;
    align-items: center;
    color: $scelper-white;
    padding: 10px 0px 20px;

    &.black {
        color: $scelper-black;
    }

    span {
        margin-left: 15px;
    }

    .common-block-text {
        display: flex;
        flex-direction: column;
    }
}
