
$hidden-part-width: 130px;

.feedback-tab-wrapper {
    opacity: 0.5;
    cursor: pointer;
    font-size: 10px;
    background: $scelper-white;
    transition: right 1s;
    position: fixed;
    z-index: map-get($zindex, feedback);
    right: -$hidden-part-width;
    bottom: 0px;
    display: flex;
    align-items: center;
    padding: 3px;

    .always-visible,
    .expanded-part {
        display: flex;
        font-size: 12px;
    }

    .always-visible {
        align-items: center;
    }

    .expanded-part {
        align-items: flex-start;
        flex-direction: column;

        p {
            margin: 0px;
        }
    }

    .feedback-icon {
        margin: 0px 10px;
    }

    &.expanded {
        right: 0px;
    }
}
