
.scelper-filter-input-select-wrapper {
    padding: 0px 40px;
}

.filter-select {
    display: inline-block;
    width: initial;
}

@media(max-width: $mobile) {
    $mobile-font-size: 13px;

    .scelper-filter-input-select-wrapper {
        padding: 10px;
    }

    .filter-select {
        font-size: $mobile-font-size;
    }  

    input.uk-input.filter-field {
        width: 120px;
        font-size: $mobile-font-size;
    }
}
