
.scelper-filter-input-select-wrapper {
    display: flex;
    justify-content: space-between;
    // padding: 0px 40px;
}

.filter-select {
    display: inline-block;
    width: initial;
}

.request-list-link {
    padding: 0px 10px;
    margin-left: 5px;
}

@media(max-width: $tablet) {
    $tablet-font-size: 14px;

    input.uk-input.filter-field,
    .filter-select,
    .request-list-link {
        font-size: $tablet-font-size;
    }

    input.uk-input.filter-field {
        width: 160px;
    }
}

@media(max-width: $mobile) {
    $mobile-font-size: 14px;

    input.uk-input.filter-field,
    .filter-select,
    .request-list-link {
        font-size: $mobile-font-size;
    }

    input.uk-input.filter-field {
        width: 120px;
    }
}
