
.footer-wrapper {
    box-shadow: 0 5px 15px 0.5px $scelper-gray-dark;
    background: $scelper-white;
    padding: 10px;
    z-index: map-get($zindex, footer);
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

    .footer-main-text {
        .sce-heart-icon {
            color: $scelper-green;
        }
    }

    .footer-links {
        padding: 0px;
        margin: 10px;

        li {
            display: inline-block;
            margin-right: 10px;

            a {
                color: $scelper-gray-dark;
                opacity: 0.6;
            }
        }
    }

    @media(max-width: $mobile) {
        font-size: 14px;

        .footer-main-text {
            display: none;
        }

        .footer-links {
            margin-bottom: 30px;
        }
    }
}

