
.darkred {
    color: #8b0000;
}

.overflow-hidden {
    overflow: hidden;
}

.text-centered {
    text-align: center;
}

.margin-centered {
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

$unit-multiplier: 1px;
$dimensions: 5 10 15 20 25 30;
$directions: top right bottom left;

@each $dimension in $dimensions {
    @each $direction in $directions {

        .margin-#{$dimension} {
            margin: $dimension * $unit-multiplier;
        }

        .margin-#{$direction}-#{$dimension} {
            margin-#{$direction}: $dimension * $unit-multiplier;
        }

        .padding-#{$dimension} {
            margin: $dimension * $unit-multiplier;
        }

        .padding-#{$direction}-#{$dimension} {
            padding-#{$direction}: $dimension * $unit-multiplier;
        }
    }
}
