
.darkred {
    color: darkred;
}

.text-centered {
    text-align: center;
}

.margin-centered {
    margin: 0 auto;
}

$smallest: 1;
$highest: 30;
$unitMultiplier: 1px;
$directions: top right bottom left;

@for $i from $smallest through $highest {

    @each $direction in $directions {

        .margin-#{$i} {
            margin: $i * $unitMultiplier;
        }

        .margin-#{$direction}-#{$i} {
            margin-#{$direction}: $i * $unitMultiplier;
        }

        .padding-#{$i} {
            margin: $i * $unitMultiplier;
        }

        .padding-#{$direction}-#{$i} {
            padding-#{$direction}: $i * $unitMultiplier;
        }
    }
}


.overflow-hidden {
    overflow: hidden;
}