
$wrapper-padding: 40px;
$curr-question-font-size: 24px;

.interviewer-wrapper {
    position: relative;
    padding: $wrapper-padding;
}

.current-question {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-shadow: -1px -1px 1px -1px $scelper-gray-dark;
    font-size: $curr-question-font-size;
}

.interviewer-head {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 150px;
}

.control-wrapper {
    min-width: 60px;

    &.right {
        text-align: right;
    }
}

.control {
    &--previous,
    &--next {
        cursor: pointer;
        margin: 0 10px;

        &:hover {
            color: lighten($scelper-gray-dark, 10%);
        }
    }
}

.current-answer {
    textarea {
        padding: 10px;
    }
}

@media(max-width: $mobile) {
    $curr-question-font-size: $curr-question-font-size * 0.65;


    .interviewer-wrapper {
        padding: $wrapper-padding * 0.5;
    }

    .current-question {
        font-size: $curr-question-font-size;
    }

    .current-answer {
        textarea {
            font-size: 13px;
        }
    }

}
