
$wrapper-padding: 40px;
$curr-question-font-size: 24px;

.interviewer-wrapper { 
    padding: $wrapper-padding;
}

.current-question {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 10px 15px;
    background: #f8f8f8;
    font-size: $curr-question-font-size;
}

.interviewer-head {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.control-wrapper {
    min-width: 60px;

    &.right {
        text-align: right;
    }
}

.control {
    &--previous,
    &--next {
        cursor: pointer;
        margin: 0 10px;

        &:hover { 
            color: lighten($scelper-gray-dark, 10%);
        }
    }
}

.current-answer {
    textarea { 
        padding: 10px;
    }
}

@media(max-width: $mobile) {
    .interviewer-wrapper {
        padding: $wrapper-padding * 0.5;
    }
    .current-question {
        font-size: $curr-question-font-size * 0.75;
    }
}