

.interviewer-wrapper { 
    padding: 40px;
}
.current-question {
    width: 100%;
    display: inline-block;
    margin: 20px 0;
    padding: 10px 15px;
    background: #f8f8f8;
    font-size: 24px;
}

.interviewer-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control {
    &--previous,
    &--next {
        cursor: pointer;
        margin: 10px;

        &:hover { 
            color: lighten($scelper-gray-dark, 10%);
        }
    }
}

.current-answer {

}