
@keyframes INITIAL_POSITION_SET {
    0% { top: 100%; }
    100% { top: 0; }
}

@keyframes INITIAL_BACKDROP_SET {
    0%   { background: rgba($scelper-gray-dark, 1); }
    100% { background: rgba($scelper-gray-dark, 0.75); }
}

@keyframes STEP_OPACITY {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.step {
    will-change: opacity;
    animation: STEP_OPACITY .5s 1;
}

.interviewer-tutorial-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: map-get($zindex, modal);
    width: 100%;
    background: rgba($scelper-gray-dark, 0.75);
    will-change: background;
    animation: INITIAL_BACKDROP_SET .3s 1;

    .interviewer-tutorial-content {
        box-shadow: 0 .5px 15px 0.5px $scelper-gray-dark;
        position: fixed;
        padding: 20px 40px 80px;
        background: $scelper-white;
        width: 100%;
        min-height: 220px;
        top: 0;
        z-index: map-get($zindex, tutorial);
        will-change: top;
        animation: INITIAL_POSITION_SET 1s 1;
        left: 50%;
        transform: translateX(-50%);

        .current-text,
        .current-controls {
            text-align: center;
        }

        .current-text {
            p {
                margin: 5px;
            }
        }

        .current-controls {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            button {
                margin: 5px;
            }

        }

        .tutorial-icon {
            margin:  0 10px;
            vertical-align: middle;
        }

    }
}
