
.margin-centered{
    margin: 0 auto;
}

.has-error{
    border: 1px solid #FF7153 !important;
}

.disabled{
    background: gray;
}

.validation-info{
    font-weight: 700;
    color: #FF7153;
}

input[type="file"]{
    display: none;
}