
body{ 
    overflow-y: scroll
}

.darkred{
    color: darkred;
}

.margin-centered{
    margin: 0 auto;
}

.margin-30{
    margin: 30px;
}

.margin-top-20{
    margin-top: 20px;
}

.text-centered{
    text-align: center;
}

.has-error{
    border: 1px solid #FF7153 !important;
}

.disabled{
    background: gray;
}

.validation-info{
    font-weight: 700;
    color: #FF7153;
}

.uk-button{
    &.uk-button-primary{
        background: #83e800;
        color: #666;
        &:hover{
            background:rgba(#83e800, 0.6);
        }
        &:disabled{
            background-color: #f8f8f8;
            color: #999;
        }
    }
} 

.uk-input{
    &.filter-field{
        width: initial;
    }
}

.scelper-table-wrapper{
    padding: 40px;
    overflow-x: auto;
}

td{
    .fa{
        margin: 2.5px;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}

button{
    .fa{
        margin-right: 2.5px;
    }
}

textarea {
   resize: none;
}

.custom-table{
    margin: 0 auto;

    th,td{
        padding: 20px;
    }

    th{
        text-align: left;
    }

    td{
        max-width: 500px;
        min-width: 75px;
        &.long-text{
            min-width: 200px;
        }
    }
}

.new-scenario-form{
    padding: 0 40px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-in-out;
    &.visible{
        max-height: 700px;
    }
}

.full-interview{
    position: relative;
    .in-progress{
        background: rgba(0, 0, 0 , 0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        .info{
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

input[type="file"]{
    display: none;
}

.scelper-horizontal-logo{
    width: 160px;
    height: 160px;
    background: url('assets/scelper-logo.png') no-repeat;
    background-size: contain;
}

.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #83e800;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}