
@keyframes LOADER_SPIN {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

$loader-dimension: 30px;
$current-dimension: $loader-dimension;

.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid $scelper-green;
    border-radius: 50%;
    width: $loader-dimension;
    height: $loader-dimension;
    animation: LOADER_SPIN 2s linear infinite;

    &--bootstrapping {
        @extend .loader;
        $current-dimension: $loader-dimension * 3;
        position: fixed;
        z-index: map-get($zindex, modal);
        top: 20%;
        left: 50%;
        width: $current-dimension;
        height: $current-dimension;
        margin-left: -$current-dimension / 2;
    }
}
