
.modal {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
}

.fade {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.fade.in {
    opacity: 1;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    padding: 40px 30px 25px;
    background: #fff;
}

.modal.in .modal-dialog {
    transform: translate(0,0);
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,-25%);
}

.modal-footer {
    text-align: center;
}

@media (min-width: 768px) {

    .modal-dialog {
        width: 400px;
        margin: 30px auto;
    }
}
