
input.uk-input,
select.uk-select,
textarea.uk-textarea {

    &:focus {
        outline: 1px solid $scelper-green;
    }
}

.new-scenario-form {
    padding: 0 40px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-in-out;

    &.visible {
        max-height: 1000px;
    }
}

.has-error {
    border: 2px solid #ff7153 !important;
}

.validation-info {
    font-weight: 700;
    color: #ff7153;
}

.recaptcha-wrapper {
    display: flex;
    justify-content: center;
}
