
$td-padding: 10px;

.public-scenarios-table-wrapper {
    padding: 0 40px 10px;
    overflow-x: auto;
}

td {
    .fa {
        margin: 2.5px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.custom-table {
    width: 100%;
    margin: 20px auto;

    th,
    td {
        padding: $td-padding;
    }

    th {
        background: rgba($scelper-gray-dark, 0.1);
        text-align: left;

        &:last-of-type {
            text-align: center;
        }
    }

    td {
        max-width: 500px;
        min-width: 90px;

        &.long-text {
            min-width: 200px;
        }

        &.row-options {
            font-size: 14px;
            padding-right: 0px;
            text-align: center;
        }
    }
}

@media(max-width: $mobile) {
    $mobile-font-size: 13px;

    .public-scenarios-table-wrapper {
        padding: 0 10px 10px;
    }

    .scelper-table-wrapper {
        padding: 0px 0px 10px;
    }

    .custom-table {
        $td-padding: $td-padding / 2;
        font-size: $mobile-font-size;
        margin-top: 10px;

        th,
        td {
            padding: $td-padding;

            &.long-text {
                min-width: 100px;
            }

            &.row-options {
                font-size: 11px;
            }
        }
    }
}
