.public-scenarios-request-list-wrapper {
    margin-top: 25px;

    ul {
        margin: 0px;
        list-style-type: none;
        padding-top: 5px;
        padding-left: 20px;
        display: flex;
        overflow: auto;

        li {
            margin: 15px 25px 25px 15px;

            &:first-of-type {
                margin-left: 0px;
            }

            &:last-of-type {
                padding-right: 20px;
            }
        }
    }
}
