.public-scenarios-request-list-wrapper {
    margin-top: 25px;

    ul {
        margin: 0px;
        list-style-type: none;
        padding-top: 5px;
        padding-left: 40px;
        display: flex;
        overflow: auto;

        &.one-item {
            justify-content: center;
        }

        li:not(.margin-centered) {
            margin: 15px 25px 25px 15px;

            &:first-of-type {
                margin-left: 0px;
            }
        }

        .user-request {
            &.last{
                padding-right: 20px;
            }
        }
    }
}

@media(max-width: $tablet) {
    .public-scenarios-request-list-wrapper {
        ul {
            padding-left: 20px;
        }
    }
}
