$td-padding: 10px;

.public-scenarios-table-wrapper {
    padding: 0 40px 10px;
    overflow-x: auto;
}

td {
    .fa {
        margin: 2.5px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.custom-table {
    width: 100%;
    min-width: 900px;
    margin: 20px auto;

    th,
    td {
        padding: $td-padding;
        word-wrap: break-word;
    }

    th {
        background: rgba($scelper-gray-dark, 0.1);
        text-align: left;

        &:last-of-type {
            text-align: center;
        }
    }

    td {

        &.options-cell {
            font-size: 14px;
            padding-right: 0px;
            text-align: center;
        }
    }

    .title-cell {
        width: 20%;
        min-width: 200px;
        max-width: 300px;
    }

    .description-cell {
        width: 25%;
        min-width: 250px;
        max-width: 300px;
    }

    .email-cell {
        width: 20%;
        min-width: 150px;
        max-width: 300px;
    }

    .genre-cell {
        width: 10%;
        min-width: 150px;
        max-width: 250px;
    }

    .pages-cell {
        width: 7%;
        min-width: 90px;
        max-width: 150px;
    }

    .state-cell {
        width: 10%;
        min-width: 120px;
        max-width: 200px;
    }

    .options-cell {
        width: 12%;
        min-width: 100px;
        max-width: 180px;
    }
}

@media(max-width: $tablet) {
    .public-scenarios-table-wrapper {
        padding: 0px 20px;
    }
}

@media(max-width: $mobile) {
    $mobile-font-size: 13px;

    .public-scenarios-table-wrapper {
        padding: 0 10px 10px;
    }

    .scelper-table-wrapper {
        padding: 0px 0px 10px;
    }

    .custom-table {
        $td-padding: $td-padding / 1.2;
        font-size: $mobile-font-size;
        margin-top: 10px;

        th,
        td {
            padding: $td-padding;

            &.options-cell {
                font-size: 11px;
            }
        }
    }
}
