
.symbols-wrapper {
    text-align: center;
}

.scelper-symbol {
    display: inline-block;
    opacity: 0.5;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}