
$symbol-dimension: 100px;
$symbol-opacity: 0.5;
$wrapper-height: 150px;

$mobile-dimension-multiplier: 0.6;

@keyframes SCELPER_SYMBOL_INIT {
    0%   { height: 0; }
    100% { height: $symbol-dimension; }
}

.symbols-wrapper {
    text-align: center;
    height: $wrapper-height;
}

.scelper-symbol {
    display: inline-block;
    opacity: $symbol-opacity;
    margin: 10px;
    width: $symbol-dimension;
    height: $symbol-dimension;
    animation: SCELPER_SYMBOL_INIT .5s 1;
    will-change: height;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media(max-width: $mobile) {

    $symbol-dimension: $symbol-dimension * $mobile-dimension-multiplier;
    $wrapper-height: $wrapper-height * $mobile-dimension-multiplier;

    @keyframes SCELPER_SYMBOL_INIT {
        0%   { height: 0; }
        100% { height: $symbol-dimension; }
    }

    .symbols-wrapper {
        height: $wrapper-height;
    }

    .scelper-symbol {
        width: $symbol-dimension;
        height: $symbol-dimension;
    }
}
