<section class="new-scenario-request-form-wrapper">

    <section class="new-scenario-request-form" [class.visible]="visibility">
        <p>{{ requestFormText.get('intro') }}</p>
        <form [formGroup]="requestForm" (ngSubmit)="submitRequest(requestForm.value)">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <select formControlName="genre" class="uk-select" [(ngModel)]="selectedGenre">
                        <option *ngFor="let option of scenarioGenres" [disabled]="isDefaultOption(option)" [ngValue]="option">
                            {{ option.label }}
                        </option>
                    </select>
                </div>
                <div class="uk-margin">
                    <select formControlName="type" class="uk-select" [(ngModel)]="selectedType">
                        <option *ngFor="let option of scenarioTypes" [disabled]="isDefaultOption(option)" [ngValue]="option">
                            {{ option.label }}
                        </option>
                    </select>
                </div>
                <div class="uk-margin">
                    <input formControlName="actorNumber" class="uk-input" type="number" pattern="\d+" placeholder="{{ requestFormText.get('actorNumberPlaceholder') }}"
                    [ngClass]="{'has-error': hasError('actorNumber')}">

                    <span *ngIf="hasError('actorNumber')" class="validation-info">{{ requestFormText.get('required') }} {{ requestFormText.get('actorNumber') }}</span>
                </div>
                <div class="uk-margin">
                    <input formControlName="actressNumber" class="uk-input" type="number" pattern="\d+" placeholder="{{ requestFormText.get('actressNumberPlaceholder') }}"
                    [ngClass]="{'has-error': hasError('actressNumber')}">

                    <span *ngIf="hasError('actressNumber')" class="validation-info">{{ requestFormText.get('required') }} {{ requestFormText.get('actressNumber') }}</span>
                </div>
                <div class="uk-margin">
                    <input formControlName="vehicleNumber" class="uk-input" type="number" pattern="\d+" placeholder="{{ requestFormText.get('vehicleNumberPlaceholder') }}"
                    [ngClass]="{'has-error': hasError('vehicleNumber')}">

                    <span *ngIf="hasError('vehicleNumber')" class="validation-info">{{ requestFormText.get('required') }} {{ requestFormText.get('vehicleNumber') }}</span>
                </div>
                <div class="uk-margin">
                    <input formControlName="budget" class="uk-input" type="number" placeholder="{{ requestFormText.get('budgetPlaceholder') }}"
                    [ngClass]="{'has-error': hasError('budget')}">

                    <span *ngIf="hasError('budget')" class="validation-info">{{ requestFormText.get('required') }} {{ requestFormText.get('budget') }}</span>
                </div>
                <div class="uk-margin">
                    <input formControlName="requestAuthorEmail" class="uk-input" type="text" placeholder="{{ requestFormText.get('requestAuthorEmailPlaceholder') }}"
                    [ngClass]="{'has-error': hasError('requestAuthorEmail')}">

                    <span *ngIf="hasError('requestAuthorEmail')" class="validation-info">{{ requestFormText.get('required') }} {{ requestFormText.get('requestAuthorEmail') }}</span>
                </div>
                <div class="uk-margin">
                    <input formControlName="requestAuthorEmailConfirm" class="uk-input" type="text" placeholder="{{ requestFormText.get('requestAuthorEmailConfirmPlaceholder') }}"
                    [ngClass]="{'has-error': hasError('requestAuthorEmailConfirm')}">

                    <span *ngIf="hasError('requestAuthorEmailConfirm')" class="validation-info">{{ requestFormText.get('required') }} {{ requestFormText.get('requestAuthorEmailConfirm') }}</span>
                </div>
                <div class="uk-margin">
                    <textarea formControlName="description" class="uk-textarea" [ngClass]="{'has-error': hasError('description')}" rows="5" placeholder="{{ requestFormText.get('descriptionPlaceholder') }}"></textarea>
                    <span *ngIf="hasError('description')" class="validation-info">{{ requestFormText.get('required') }} {{ requestFormText.get('description') }}</span>
                </div>
                <div class="uk-margin">
                    <span *ngIf="!isFormValid() && requestForm.dirty">{{ requestFormText.get('cannotSubmitted') }}</span>
                </div>
            </fieldset>
            <sce-recaptcha #recaptcha></sce-recaptcha>
            <div class="text-centered margin-30">
                <button type="submit" class="uk-button uk-button-primary" [disabled]="!isFormValid() || !recaptcha.isApproved()">{{ requestFormText.get('b_submit') }}</button>
                <button type="button" class="uk-button uk-button-default" [hidden]="requestForm.pristine" (click)="resetForm()">{{ requestFormText.get('b_reset') }}</button>
            </div>
        </form>
    </section>

</section>
