<section class="interviewer-tutorial-wrapper">
    <div class="interviewer-tutorial-content">
        <div class="current-text">
            <i class="fa fa-compass fa-3x" aria-hidden="true"></i>
            <p *ngFor="let text of currentTexts">{{ text }}</p>
        </div>
        <div class="current-controls">
            <button class="uk-button uk-button-default">{{ abortBtnText }}</button>
            <button class="uk-button uk-button-primary">{{ startBtnText }}</button>            
        </div>  
    </div> 
</section>
