<section class="interviewer-tutorial-wrapper">
    <div class="current-text">
        <h3>Tutorial</h3>
        <p>Jeśli jesteś tu pierwszy raz - polecamy skorzystać z krótkiego wprowadzenia.</p>
        <p>Pomoże Ci ono zrozumieć sposób w jaki prowadzony jest wywiad i objaśni interfejs.</p>
    </div>
    <div class="current-controls">
        <button class="uk-button uk-button-default">Pomiń</button>
        <button class="uk-button uk-button-primary">Rozpocznij</button>            
    </div>  
</section>