<section class="interviewer-tutorial-wrapper">
    <div class="interviewer-tutorial-content">
        <div class="current-text" [ngSwitch]="currentStep">

            <ng-container *ngSwitchCase="0">  
                <i class="fa fa-compass fa-3x" aria-hidden="true"></i>
                <p *ngFor="let text of tutorialTexts[currentStep]">{{ text }}</p>
            </ng-container>

            <ng-container *ngSwitchCase="1">
                <p>{{ tutorialTexts[currentStep][0] }}</p> 
                <div class="current-question">Co tam słychać?</div>
                <span>{{ tutorialTexts[currentStep][1] }}</span>
                <i class="tutorial-icon fa fa-angle-left fa-3x" aria-hidden="true"></i>
                <i class="tutorial-icon fa fa-angle-right fa-3x" aria-hidden="true"></i>
                <span>{{ tutorialTexts[currentStep][2] }}</span>
            </ng-container>

             <ng-container *ngSwitchCase="2">
                <span>{{ tutorialTexts[currentStep][0] }}</span> 
                <i class="fa fa-snowflake-o fa-2x margin-5" aria-hidden="true"></i>
                <i class="fa fa-car fa-2x margin-5" aria-hidden="true"></i>
                <i class="fa fa-bath fa-2x margin-5" aria-hidden="true"></i>
                <p>{{ tutorialTexts[currentStep][1] }}</p>
            </ng-container>

        </div>


        <div class="current-controls">

            <ng-container *ngIf="isAtFirstStep();">
                <button class="uk-button uk-button-default" (click)="closeTutorial();">{{ abortBtnText }}</button>
                <button class="uk-button uk-button-primary" (click)="nextStep();">{{ startBtnText }}</button> 
            </ng-container>

            <ng-container *ngIf="!isAtFirstStep();">
                <button class="uk-button uk-button-default" (click)="previousStep();">{{ backBtnText }}</button>
                <button class="uk-button uk-button-primary" (click)="nextStep();">{{ nextBtnText }}</button> 
            </ng-container>      

        </div>  
    </div> 
</section>
